<footer class="footer bg-dark py-2 mt-auto">     <!--mt-auto is to keep margin from min(bottom, end of page)-->
    <div class="container">
        <span class="text-muted">&copy; Group 50</span>
    </div>

</footer>