<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">    <!-- sticky-top -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CriminalDB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/complaint">File Complaint</a>
          <a class="nav-link" href="/cluster">Visualize Reports</a>
          <a class="nav-link" href="/crime">View Complaints</a>
          <a class="nav-link" href="/predict">Predicted Data</a>
        </div>
        <div class="navbar-nav ms-auto">
          <div class="navbar-nav ms-auto">
            <% if(!currentUser){ %> 
            <a class="nav-link" href="/login">LogIn</a>
            <a class="nav-link" href="/signup">Sign Up</a>
            <% }else{ %> 
            <a class="nav-link" href="/logout">Log Out</a>
            <% } %> 
        </div>
      </div>
    </div>
  </nav>