<h1>View cluster in map</h1>

<form method="get" action="/cluster">
    <select name="crime" name="crime" id="crime">
        <option value="murder">Murder</option>
        <option value="dowry">Dowry</option>
        <option value="suicide">Suicide</option>
        <option value="humantrafficking ">Human Trafficking</option>
        <option value="blackmailing">Blacmailing</option>
        <option value="robbery">Robbery</option>
        <option value="fakenews">Fake News</option>
      </select>
      <button type="submit" id="submit"> Submit</button>
</form>
<h2>Crime Type: <%=crimetp%></h2>

<button onclick='loadHTML("template","robbery.html")'>Click</button>
<%  function loadHTML(id, filename) { %>
<%  console.log(id, filename); %>
<%    let xhttp; %>
<%    let element = document.getElementById(id); %>
<%   let file = filename; %>

<%   if(file) { %>
<%      xhttp = new XMLHttprequest();%>
<%      xhttp.onreadystatechange = function() {%>
<%      if(this.readyState == 4) {%>
<%          if(this.status == 200) {element.innerHTML = this.responsetext;}%>
<%          if(this.status == 404) {element.innerHTML = "<h1>Page not found!</h1>";}%>
<%      }%>
<%    }%>
<%    xhttp.open("GET", `/clusters/${file}`, true);%>
<%      xhttp.send();%>
<%      return;%>
<%    }%>
<% }%>

<div id="template" class="template">
</div>