

<h1>File Complaint</h1>

<form method="post" action="/complaint">
    <div id="name">
        <label>Enter Full Name</label>
        <input type="text" name="fullName" id="fullName" required/>
    </div>
<div id="crimedate">
    <label>Select Date</label>
    <input type="date" id="crimeDate" name="crimeDate" required/>
</div>
<div id="district">
    <label>Enter District</label>
    <input type="text" name="district" id="district" required/>
</div>
<div id="address">
    <label>Address</label>
    <textarea id="address" name="address" rows="2" cols="25" placeholder="Enter Address here" required></textarea>
</div>
<div id="complaint">
    <label>Complaint</label>
    <div id="complaintType">
    <label>Complaint Type</label>
    <select name="complaintType" id="complaintType">
        <option value="murder">Murder</option>
        <option value="dowry">Dowry</option>
        <option value="suicide">Suicide</option>
        <option value="humantrafficking ">Human Trafficking</option>
        <option value="blackmailing">Blacmailing</option>
        <option value="robbery">Robbery</option>
        <option value="fakenews">Fake News</option>
    </select>
</div>
    <textarea id="complaint" name="complaint" rows="4" cols="50" placeholder="Enter Complaint here" required></textarea>
</div>
<button type="submit" value="submit">Submit</button>
</form>