<form method="post" action="/login">
    <div id="email">
        <label>Enter Email</label>
        <input type="email" name="email" id="email" required/>
    </div>
    <div id="password">
        <label>Enter Full Name</label>
        <input type="password" name="password" id="password" required/>
    </div>
    <button type="submit" value="submit">Submit</button>
</form>