

<h1>Update Complaint</h1>

<form method="post" action="/update">
    <div id="uname">
        <label>Search by name</label>
        <input type="text" name="uname" id="uname" required/>
    </div>
    <button type="submit" value="submit">Submit</button>
</form>

<!-- <form method="post" action="/complaint">
<div id="date">
    <label>Select Date</label>
    <input type="date" id="date" name="date" required/>
</div>
<div id="district">
    <label>Enter District</label>
    <input type="text" name="district" id="district" required/>
</div>
<div id="address">
    <label>Address</label>
    <textarea id="address" name="address" rows="2" cols="25" placeholder="Enter Address here" required></textarea>
</div>
<div id="complaint">
    <label>Complaint</label>
    <div id="day">
    <label>Complaint Type</label>
    <select name="days" id="days">
        <option value="murder">Murder</option>
        <option value="dowry">Dowry</option>
        <option value="suicide">Suicide</option>
        <option value="humantrafficking ">Human Trafficking</option>
        <option value="blackmailing">Blacmailing</option>
        <option value="robbery">Robbery</option>
        <option value="fakenews">Fake News</option>
    </select>
</div>
    <textarea id="compaint" name="compaint" rows="4" cols="50" placeholder="Update Complaint here" required></textarea>
</div>
<button type="submit" value="submit">Submit</button>
</form> -->